.header {
    width: 100%;
}
.footer {
    width: 100%;
    position: absolute;
    margin-top: 850px;
}
.black-background {
    background-color: black;
    width: 100%;
    height: 850px;
    position: absolute;
    justify-content: center;
    display: flex;
    align-items: center;
}
.pink-background {
    background-color: #f98aa2;
    width: 800px;
    height: 500px;
    position: relative;
}
#title {
    color: white;
    text-align: left;
    font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    position: relative;
    margin-top: 100px;
    margin-left: 50px;
    line-height: 40px;
}
.subtitle {
    color: white;
    text-align: left;
    font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: relative;
    font-size: 20px;
    margin-top: 40px;
    margin-left: 50px;
    line-height: 30px;
}
.calico {
    position: relative;
    margin-left: 515px;
    margin-top: -225px;
    width: 220px;
}
#btn {
    background: black;
    color: white;
    text-transform: uppercase;
    margin-left: 50px;
    margin-top: 40px;
    border-radius: 30px;
    font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 10px;
    padding-bottom: 10px;
} 
.game-1 {
    width: 25%;
    height: 75%;
    margin-left: 50px;
    margin-top: 55px;
    background-color: #f98aa2;
    position: relative;
    border: 2px solid white;
}
#btn-arkanoid {
    background: black;
    color: white;
    text-transform: uppercase;
    border-radius: 30px;
    font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 10px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 30px;
    margin-top: 100px;

}
.game-2 {
    width: 25%;
    height: 75%;
    margin-left: 300px;
    margin-top: -380px;
    background-color: #f98aa2;
    position: relative;
    border: 2px solid white;
}
#btn-flappy{
    background: black;
    color: white;
    text-transform: uppercase;
    border-radius: 30px;
    font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 10px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 30px;
    margin-top: 100px;
}
.game-3 {
    width: 25%;
    height: 75%;
    margin-left: 550px;
    margin-top: -380px;
    background-color: #f98aa2;
    position: relative;
    border: 2px solid white;
}
#btn-snake{
    background: black;
    color: white;
    text-transform: uppercase;
    border-radius: 30px;
    font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 10px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 30px;
    margin-top: 300px;
}
#myCanvas-arkonoid {
    width: 100%;
    height: 100%;
    margin-left: 0;
    margin-top: 0;
    background-color: #f98aa2;
    position: relative;
}
#countdown-arkanoid{
    color: #f98aa2;
    font-size: 50px;
    text-align: center;
}
#countdown-flappy{
    color: #f98aa2;
    font-size: 50px;
    text-align: center;
}
#btn-calico{
    background: #f98aa2;
    color: white;
    text-transform: uppercase;
    border-radius: 30px;
    font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.world{
    position: absolute;
}
.calico-bird{
    width: 55px;
    height: 45px;
    position: absolute;
}
.calico-bird-title{
    color: white;
    text-align: center;
    font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    position: relative;
    margin-top: 100px;
    margin-left: 50px;
    line-height: 40px;
}
.calico-bird-text{
    color: white;
    text-align: center;
    font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: relative;
    font-size: 20px;
    margin-top: 40px;
    margin-left: 50px;
    line-height: 30px;
}
#btn-monedas{
    background: black;
    color: white;
    text-transform: uppercase;
    margin-left: 300px;
    margin-top: 40px;
    border-radius: 30px;
    font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.countdown-contador-monedas{
    position: absolute;
    top: 80px;
}
.texto-contador-monedas{
    color: white;
    position: relative;
}
.star-1{
    width: 30px;
    height: 30px;
    position: absolute;
    left: 100px;
    top: 100px;
}
.star-2{
    width: 30px;
    height: 30px;
    position: absolute;
    left: 200px;
    top: 100px;
}
.star-3{
    width: 30px;
    height: 30px;
    position: absolute;
    left: 400px;
    top: 100px;
}
.star-4{
    width: 30px;
    height: 30px;
    position: absolute;
    left: 400px;
    top: 400px;
}
.star-5{
    width: 30px;
    height: 30px;
    position: absolute;
    left: 400px;
    top: 300px;
}
.star-6{
    width: 30px;
    height: 30px;
    position: absolute;
    left: 200px;
    top: 400px;
}
.muerte-1{
    width: 25px;
    height: 30px;
    position: absolute;
    left: 300px;
    top: 100px;
}
.muerte-2{
    width: 25px;
    height: 30px;
    position: absolute;
    left: 400px;
    top: 200px;
}
.muerte-3{
    width: 25px;
    height: 30px;
    position: absolute;
    left: 100px;
    top: 400px;
}
#counter-label{
    color: white;
    position: relative;
    text-align: center;
    top: -260px;
    left: 350px;
}
#counter-time{
    color: white;
    position: relative;
    text-align: center;
    top: -300px;
    left: 500px;
}
.gafas{
    position: relative;
    width: 50px;
    height: 30px;
    left: 400px;
    top: 200px;
}
.ball{
    position: relative;
    width: 25px;
    height: 25px;
    left: 0px;
    top: 0px;
}
.ball-green{
    position: relative;
    width: 25px;
    height: 25px;
    left: 450px;
    top: 0px;
}
.ball-pink{
    position: relative;
    width: 25px;
    height: 25px;
    left: 0px;
    top: 200px;
}
.ball-yellow{
    position: relative;
    width: 25px;
    height: 25px;
    left: 0px;
    top: 400px;
}
.ball-red{
    position: relative;
    width: 25px;
    height: 25px;
    left: 500px;
    top: 200px;
}